<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgGQFv5gHhPfqQ26NztRaaGy7I9VQXXjE</string>
	<key>GCM_SENDER_ID</key>
	<string>470777518730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joaquimenezes.MessagingFB</string>
	<key>PROJECT_ID</key>
	<string>messagingfb-ad4c5</string>
	<key>STORAGE_BUCKET</key>
	<string>messagingfb-ad4c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470777518730:ios:f80f159aeb9d172b846b73</string>
</dict>
</plist>